* {
    margin: 0;
    padding: 0;
}
html { 
    font-size: 100%;
    font-family: "WeblySleek UI", "Segoe UI", "Helvetica Neue", Arial, sans-serif; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;   
}

body { 
    font-size: 87.5%;
    line-height: 1.5; 
    background-image: url(/img/chicken_skin1.4.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #fff;
}

/*=====================================================================
    Header: Company Logo, Name, Tagline
  =====================================================================*/
header {
}
header #pfi-wrap {
   background-color: #D3E4DE;
   text-align: center;
   height: auto;
}
header #pfi-logo {
    font-family: Impact, Charcoal, sans-serif;
    color: #ef9432;
    font-size: 1.40em;
    display: inline-block;
}
header #pfi-name {
    color: #595959;
    display: inline-block;
    line-height: 1;  
}
/* =============================================================================
   Header: Navigation
   ========================================================================== */
a {
    text-decoration: none;
}
a:link, a:visited {
    /*Assign properties later*/
}
a:hover, a:active {
    /*Assign properties later*/
}
header nav { 
    color: #ccc;
    font-size: 1.10em;
    clear: both;
    width: 100%;
    height: 40px;  /*for media queries*/
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background-color: #508572;
    border-bottom: 2px solid #ef9432;
    
}
header nav ul {
    list-style: none;
    margin: 0 auto;
}
header nav ul li {
    display: inline;
}
header nav a:link, nav a:visited {
    color: #ccc;
    display: inline-block;
    padding: 10px 20px;
    /*Assign height later*/
}
header nav a:hover, header nav a:active, header nav .active a:link, 
header nav .active a:visited {
    background-color: #ef9432;
    color: #ccc;
    text-shadow: none;
    height: 20px;
}

#page-wrap {
    margin: 0 auto; /*Centers the page*/
    width: 70%; /*page occupies 70% of the screen size*/
    /*border:  dotted red;*/
    height: auto;
    clear:  both;
}

#mainContent {
    /*background-color:rgba(192,192,192,0.3);*/
    width: 100%;
    margin: 1% auto; /*Centers the page*/
    padding-bottom: 1%;
    height: auto;
    /*float: left;*/
    /*Border Radius*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ccc;
    /*Box Shadows*/
    -moz-box-shadow: 0 0 35px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.2);
    box-shadow: 0 0 35px rgba(0,0,0,.2);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, cite, code, del, 
dfn, em, img, q, s, samp, small, strike, strong, 
sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, 
form, label, legend, button, table, caption, tbody, 
tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
}


/*===============================================================
    Featured Dish
  ===============================================================*/

#mainContent #featured-dish {
    height: 600px;
    clear: both;   
}

#featured-dish h1 {
    text-align: center;
    color: #2e95ad;
    height: 45px;
    background-color: #ccc;
}
.dish h4, .dish p{
    /*background-color: rgba(192,192,192,0.4);*/
    background-color: #D3E4DE; 
    padding: 5px 10px;
    line-height: normal;
    text-align: center;
}
.dish h4 {
    color: gray;
    font-weight: 700;
}
.dish p {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #738d84;
}
.dish img {
    border-radius: 5px;
    -moz-box-shadow: 0 0 35px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.2);
    box-shadow: 0 0 35px rgba(0,0,0,.2);
}
.dish {
    float: left;
    margin: 30px 14px;
}

/*=============================================================
    Le Us Help Div
  =============================================================*/
#opening {
    clear: both;
    width: 100%;
    text-align: right;
    font-weight: 300;
    /*font-size: 1.3em;*/
    color: #2e95ad;
    margin-top: 3%;
    min-height: 500px;
    /*background-color:rgba(192,192,192,0.3);*/
    /*background: -webkit-linear-gradient(#c6e4d9, rgba (244, 246, 247, .4)); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#c6e4d9, #fff); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#c6e4d9, #fff); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#c6e4d9, #fff); /* Standard syntax (must be last) */
    /*border-top: 2px solid #ef9432;*/
}
#opening h1 {
    /*line-height: 60px;*/
    /*float: left;*/
    /*height: 200px;*/
    font-size: 3em;
    color: #508572;
    /*text-align: right;*/
    padding-right: 5%;
    font-weight: 100;
    text-align: center;
    background-color: rgba(192,192,192,0.4);
}
#sample {
    float: left;
    width: 50%;
    margin-top: 1%;
    text-align: center;
}
#sample img {
    border-radius: 50%;
    margin:  0 auto;
}
#sample blockquote {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #508572;
    font-style: italic;
    margin:  0 auto;
    font-size: 1.5em;
    width: 50%;
}
footer.phimQuote {
    font-size: 1.5em;
    background-color: rgba(192,192,192,0.3);
    border-top-left-radius: 10px;
    margin-top: 1%;
}
#opening #events {
    display: inline-block;
    width:  40%; /*40% width for phim-bio*/
    padding-right: 5%;
    margin-top: 1%;
    height: auto;
    /*width:  55%;*/
    /*text-align: right;*/
    /*height: 280px;*/
    /*background-color: #c6e4d9;*/
    /*background-color: rgba(192,192,192,0.2);*/
    color: #ef9432;
    /*color: #595959;*/
    float: left;
    font-weight: 200;
    font-size: 1.25em;
    text-emphasis-color: #508572;
    /*text-shadow: 0px 1px 1px #595959;*/
}
#opening #events h2 {
    text-align: right;
    font-size: 1.80em;
}

/*================================================================
    Awards Div
  ================================================================*/
#award {
    min-height: 300px;
    text-align: center;
}
#award h1 {
    color: #ef9432;
    font-size: 3em;
}
#award h3 {
    color: #738d84;
}
#award #awardDescription {
    margin-top: 1%;
    width: 20%;
    text-align: right;
    float: left;
    padding-left: 50%;
    padding-right: 5%;
    font-size: 1.1em;
}
#award #photo {
    width: 20%;
    float: left;
    margin: 0 auto;
}


/*=========================================================
    Just Like Home Div
  =========================================================*/
#mainContent #like-home {
    padding: 20px 10px;
    height: auto;
    padding-bottom:  2%;
    color:  #2e95ad;
    margin-bottom: 20px;
    background-color: rgba(192,192,192,0.4);
    /*background-color: rgba(192,192,192,0.2);*/
    clear: both;
}
#mainContent #like-home h1 {
    color: #ef9432;
    font-size: 3.5em;
    text-align: center;
}
#mainContent #like-home h2 {
    color: #595959;
    text-align: center;
    font-size: 2em;
}

/*==========================================================
    Customer Feedback
  ===========================================================*/
#reviewWrap {
    margin-top: 4%;
    min-height: 200px;
    padding: 10px 0;
}
#reviewWrap h1 {
    color: gray;
    padding-left: 8%;
    font-size: 2.5em;
}
#reviewWrap #review {
    width: 50%;
    text-align: right;
    float: left;
    font-size: 1.5em;
    height: inherit;
    color: #2e95ad;
    padding-left: 13%;
    padding-right: 4%;
}
#reviewWrap #customer {
    float: left;
    margin-top: 20px;
    width: 33%; /*adjust the size later*/
}
blockquote {
  /*font: 14px/22px normal helvetica, sans-serif;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
} 
footer.customerInfo {
    background-color: #738d84;
    font-style: italic;
    color: #ccc;
    font-size: 1.50em;
    padding-left: 3%;
    min-height: 50px;
    border-top-left-radius: 10px;
}






#sidebar {
    width: 25.5%;
    text-align: center;
    background-color: #D3E4DE;
    /*border:  dotted green;*/
    float: left;
    border: 1px solid rgba(192,192,192,0.3);
    margin:  1% 0 1% 3%;
    border-radius: 5px;
    /*padding: 2% 1%;*/
    border-radius: 5px;
}
#sidebar h3 {
    padding-top: 5px;
    height: 35px;
    text-align: center;
    font-weight: 600;
    background-color:rgba(192,192,192,0.3);
    /*background-color: #7fa094;*/
    margin-bottom: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #508572;
}
#sidebar blockquote {
    text-align: left;
}
#sidebar img {
    margin:  0 auto;
}
#sidebar blockquote {
    padding: 5px 10px;
    color: gray;
}
#sidebar figcaption {
    text-align: center;
}
/*  =============================================================================
    Footer
    ============================================================================*/
footer {
    clear: both;
    padding: 5px 0;
    height: auto;
    font-size: 1em; 
    /*line-height: 1.5;*/
    /*color: #595959;*/
    /*color: #595959;*/
    background-color: #508572;
    /*background-color: rgba(211,228,222,0.9); *//*#D3E4DE=rgba(211,228,222)*/
    /*background-color:rgba(192,192,192,0.7);*/
    /*border-top:  3px solid #508572;*/
}
#footer-wrap {
    /*border-radius: 3px;*/
    width: 980px;
    margin: 10px auto ; /*Centers the footer*/
    height: 180px;
    line-height: 1.5;
    
}
.footer-block {
    float:  left;
    width: 32%;
    padding-left: 1.1%;
    /*border: solid green;*/ 
    border-width: 1px;   
}
.footer-block img {
    margin-left: 15px;
}
.footer-block dl dt {
    font-weight: bold;
    color: #ccc;
    /*text-transform: uppercase;*/
}
.footer-block a, .footer-block dd {
    color: #ccc;
    text-indent:5%;
    text-decoration: none;
}
.footer-block a:hover {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}




/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/* Smartphones (portrait and landscape)*/
@media only screen and (min-width: 150px) and (max-width: 600px){
    #page-wrap {
        width: 99%; /*page occupies 98% of the screen size*/
        font-size: 93%;
    }
    header nav { 
        font-size: 1.10em;
        clear: both;
        width: 100%;
        height: auto;  /*for media queries*/
        text-align: center;
    }
    header nav ul {
        padding-left: 0;
    }
    header nav ul li {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    header nav a:link, nav a:visited {
        padding: 10px 25px;
        display: block;
    }

/*==========================================================
    Customer Feedback
  ===========================================================*/
    #reviewWrap {
        height: auto; 
    }
    #reviewWrap h1 {
        color: gray;
        padding-left: 0;
        font-size: 2em;
        line-height: normal;
    }
    #reviewWrap #review {
        width: 94%;
        padding: 1% 5% 0 1%;
        font-size: 1.2em;
        margin-bottom: 0;
    }
    #reviewWrap #customer {
        float: left;
        width: 100%; /*adjust the size later*/
        margin-top: 0;
    }
    blockquote {
      /*font: 14px/22px normal helvetica, sans-serif;*/
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
        margin-left: 10px;
        padding-left: 15px;
        border-left: 3px solid #ccc;
    } 
    footer.customerInfo {
        background-color: #508572;
        font-style: italic;
        color: #ccc;
        font-size: 1.3em;
        padding-left: 3%;
    }

/*Hide events for smaller screen sizes*/
    #mainContent #opening #events {
        display: none;
    }
}




/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

